/* Main Elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-size: 20px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  line-height: 1.8;
}

body {
  position: relative;
  background-color: #fafafa;
  width: 100%;
}
main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* HEADER */
header {
  /* display none for debugging */
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  z-index: 999;
  transition: 0.5s;
}

/* Overlay & grid squares */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: min(calc(100vh + 200px), 1200px);
  background-color: rgb(14, 14, 14);
  z-index: 40;
  transition: 1s 1s;
}
#space {
  height: min(calc(100vh + 200px), 1200px);
  width: 100%;
  background-position: right;
  background-repeat: repeat-y;
  background-color:rgb(14, 14, 14);
  background-size: auto;
  position: relative;
  overflow: hidden;
}

@keyframes bgScroll {
    0% {
      background-position : 1400px 1500px
    }
    50% {
      background-position : 1410px 1250px;
    }
    100% {
      background-position : 1400px 1000px
    }
}

.space-grid-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  flex-wrap: no-wrap;
  margin-bottom: 0px;
  background-color: rgb(0, 0, 0);
}
.extra-mobile-squares {
  display: none;
}
.space-grid-square { 
  position: relative;
  flex: 1 0 300px;
  height: auto;
  top: 0;
  left: 0px;
  background-color:rgb(14, 14, 14);
  z-index: 20;
  opacity: 1;
  transition: 
    0s margin 0s, 
    2s linear opacity 0s,
    1s cubic-bezier(1,1.9,.03,.65) transform 1.8s,
    1s cubic-bezier(1,1.9,.03,.65) box-shadow 1.8s;    
}
@keyframes shake {
    0% {
      transform: translateX(-20px) translateY(20px) scale(0.87);
    }
    50% {
      transform: translateX(-19px) translateY(19px) scale(0.881);
    }
    100% {
      transform: translateX(-20px) translateY(20px) scale(0.87);
    }
}
@keyframes drop {
    0% {
      transform: perspective(100px) translateX(-20px) translateY(20px) translateZ(-2px) scale(0.87);
    }
    12% {
      transform: perspective(100px) translateX(-20px) translateY(20px) translateZ(-1px) scale(0.87) rotateY(.3deg);
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: perspective(330px) translateX(-20px) translateY(20px) translateZ(-2000px) scale(0) rotateY(180deg) rotate(170deg) translate(-550px, -800px);
      opacity: 0;
    }
}
.square-final-animation {
    box-shadow: inset 1px 1px 1px black, inset -1px -1px 1px black;
  }
.space-grid-square:before {
  content: "";
  display: block;
  padding-top: 100%;
  opacity: 0;
  background-color: transparent;
}
#secret-square {
    position: absolute;
    top: 340px;
    left: 1500px;
    width: 260px;
    height: 260px;
    background-color: transparent;
    z-index: 500;
}

#emergency-exit {
    background-image: url(../images/emergency.png);
}

.space-grid-square-drop-border {
  position: absolute;
  content: "";
  display: block;
  top: 19px;
  left: -50px;
  transform: rotate(-45deg);
  width: 60px;
  height: 2px;
  background-color: rgb(5, 5, 5);
  z-index: 15;
}
.space-grid-square-drop {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 41px;
  background-image: linear-gradient(
    90deg,
    black,
    rgb(36, 36, 36),
    #000000 95%
  );
  box-shadow: inset 4px 4px 10px black, inset -4px -4px 10px black;
  transition: 2s ease-out opacity 0s;
}
.space-grid-square-drop:after {
  position: absolute;
  content: "";
  display: block;
  top: 0px;
  left: 259px;
  width: 41px;
  height: 300px;
  border-radius: 100px 0px 0px 0px;
  background-image: linear-gradient(
    
    #000000,
    rgb(26, 26, 26),
    #000000
  );
  box-shadow: inset 4px 4px 10px black, inset -4px -4px 10px black;
}
#astronaut {
    display: none;
    width: 180px;
    height: auto;
    position: absolute;
    top: 440px;
    left: 1550px;
}
@keyframes astronaut-animation {
    0% {
      transform: translate(10px, -10px);
    }
    50% {
      transform: translate(-10px, 10px);
    }
    100% {
      transform: translate(10px, -10px);
    }
}

/* INTRO */
#intro-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
}
#intro-box {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    height: 400px;
    opacity: 0;
    /* Intro animation, possibly move to keyframe style for reuse in other elements */
    transform: perspective(500px) translateZ(-200px) rotateY(-20deg) translate(-700px);
    transition: 2s transform 0.5s, 1s opacity 1.3s;
    z-index: 50;
}
#intro-box h1 {
    color: rgba(255, 255, 255, 0.945);
    font-size: 80px;
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 50;
}
#intro-box p {
    color: #F28705;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 50;
}

/* SKILLS */
#skills {
  position: relative;
  top: -100px;
  transform: skew(0, -5deg);
  min-height: 100vh;
  width: 100%;
  background-image: url(../images/space.png);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  animation: bgScroll 20s linear infinite;
}
#skills::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    black 0%,
    #012e40f4 .5%
  );
  z-index: -1;
}
#skills-container {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: skew(0, 5deg);
  padding: 120px 0;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#skills-container h2 {
  position: relative;
  color: #F28705;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin: 40px;
  padding: 0;
  transform: rotate(-3deg);
  right: 250px;
  text-align: center;
  z-index: 50;
}
.skills-images {
    position: relative;
    padding: 20px 0;
    opacity: 0;
}
.skills-images:after {
  background-color: rgba(255, 255, 255, 0.36);
  position: absolute;
  content: "";
  display: block;
  top: -6px;
  left: -400px;
  width: 1000px;
  height: 100%;
  border-radius: 10px;
}
.skills-images img {
    width: 200px;
    height: auto;
    opacity: 0;
    transition: 2s opacity, 50ms left, 50ms right;
}
.skills-images .left {
    position: absolute;
    z-index: 1;
    right: 0;
}
.skills-images .right {
    position: absolute;
    z-index: 2;
    
}
.skills-images .center {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 1s opacity;
}

.scroll-slide-right {
  opacity: 0;
}
.scroll-slide-left {
  opacity: 0;
}

/* PROJECTS */
#projects {
  background-image: linear-gradient(
    90deg,
    #e16f23 0,
    #ff7621 20%,
    #cf650e 49.9%,
    rgb(11, 11, 11) 49.9%,
    rgb(11, 11, 11) 50.1%,
    #00384e 50.1%,
    #003449 75%,
    #003043 100%
  );
  position: relative;
  top: -200px;
  clip-path: polygon(0 0, 50% 100px, 100% 0, 100% 100%, 0 100%);
  min-height: calc(100vh + 200px);
  width: 100%;
  padding-bottom: 150px;
  margin-bottom: -200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 50;
}
#projects-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(11, 11, 11);
  z-index: -1;
}
@keyframes shrink {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
#projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding: 20px 0;
  min-height: 400px;
  width: 1100px;
  /*
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.274);
  border-radius: 20px;
  */
  justify-content: start;
  align-items: center;
  transition: 1s 0.4s;
}
#projects-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 400px;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.274);
  border-radius: 0px;
  z-index: -1;
}
#projects-container h2 {
  position: relative;
  color: #F28705;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin: 40px;
  padding: 0;
  transform: rotate(-3deg);
  left: 250px;
  text-align: center;
  z-index: 50;
}
.project-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 80px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  height: 270px;
  width: auto;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  border-radius: 20px;
}
.project-box:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.274);
}
.project-video {
    position: relative;
    display: flex;
    justify-content: center;
    height: 270px;
    width: 477px;
    margin: 0;
    padding: 0;
}
.project-video video {
  border-radius: 16px;
  border: 2px solid rgb(11, 11, 11);
  transition: 0.2s;
}
.video-preview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.274);
  border-radius: 20px;
  z-index: -1;
  opacity: 0;
}
a:hover video {
  border: 2px solid #F28705;
  transform: scale(1.02);
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.274);
  cursor: pointer;
}
a:hover .video-preview {
  z-index: 50;
  opacity: 1;
}
.video-preview-button {
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.873);
  color: black;
  font-weight: 600;
  border-radius: 0px;
}

.project-description {
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 270px;
    width: 500px;
    margin-left: 40px;
    padding: 10px;
}
.project-description h3 {
    color: #ebebeb;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    padding: 0;
    text-align: center;
    z-index: 50;
}
.project-description p {    
    font-size: 18px;
    text-align: left;
}
.project-description ul {
  margin-left: 16px;
}
.project-skills {
    border-top: 1px solid white;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-skills p {
  margin: 0 auto;
  font-size: 0.8rem;
  color: #ffffff;
}
a.icon {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  font-size: 54px;
  font-weight: 400;
}
a.icon:hover {
  color: #F28705;
  transform: scale(1.1);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #00384e;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
footer p {
  margin-right: 100px;
}
footer .icon {
  margin: 0 10px;
}
.tooltip {
  font-size: 0.6rem;
  position: absolute;
  top: 8px;
  right: 1px;
  width: 100%;
  color: #F28705;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
  display: block;
  opacity: 0;
}
footer a.icon:hover .tooltip {
  transition: 1s ease-in 0.1s;
  opacity: 1;
}
.no-break-on-space {
  white-space: nowrap;
}

/* Media Queries */
@media only screen and (max-width: 1080px) {
  .space-grid-container {
    height: 200px;
  }
  .extra-mobile-squares {
    display: flex;
  }
  .space-grid-square { 
    flex: 1 0 200px;    
    height: 200px;
  }
  .space-grid-square-drop { 
    width: 200px;
    height: 26px;
    left: -200px;    
  }
  .space-grid-square-drop:after {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 174px;
    width: 26px;
    height: 200px;
  }
  .space-grid-container:nth-child(even)>.square-final-animation:nth-child(even),
  .space-grid-container:nth-child(odd)>.square-final-animation:nth-child(odd) {
    width: 200px;
    height: 200px;
    top: -7px;
    left: 7px;
  }
  #projects-container {
    width: 94%;   
  }
  #projects-container:after {
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
  }
  #projects-container h2 {
    left: 0;
    transform: rotate(-2deg);
  }
  .project-box {
    height: auto;
    margin-top: 32px;
  }
}
@media only screen and (max-width: 800px) {
  #intro-box {
    bottom: 50px;
  }
  #intro-box h1 {
    font-size: calc(10vw);
  }
  .skills-images img {
    
  }
  #skills-container {
    padding-top: 20px;
  }
  #skills-container h2 {
    left: 0;
  }
}